/* index.css */
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background: #364153;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.ant-card-body {
  padding: 7px !important;
}
